body{
    font-family: 'Poppins', sans-serif;
}
.jack{
    font-size: 50px;
    font-weight: bolder;
    color: #EC5095;
}

.text{

    color: rgb(119, 115, 115) ;
}

.button{
    padding:10px 20px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(90deg,#EC5095,#ED4B6E);
    text-decoration: none;
}

.header{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: 840px;
}

.headerd{
    width: 30%;
    margin-top:200px;
    float: left;
    text-align: left;
    padding-left: 20%;

}

.headers{
    width: 50%;
    padding-top: 90px;
    float: left;
}
.headers img{
    width: 70%;
}

.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size:100% 800px;
    height: 800px;
}

.headers2{
    width:45%;
    float: left;
    margin-top:60px;
    text-align: right;
    margin-right:10%;
}
.headers2 img{
    width: 70%;
}

.headers2-b{
    padding-top: 14%;
    margin-right:10%;
}

#works{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    width: 100%;
    height: 500px;
    text-align: center;

}

.work-img{
    float:left;
    margin-top: 5%;
    width: 23%;
    padding: 1%;
    margin-left: 6%;
    
}

.contact{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 800px;
    height: 800px;
    text-align: center;
}

#email{
    text-align: center;
    height:20%;
    width: 45%;
    color:white;
    background-image: linear-gradient(90deg,#EC5095,#ED4B6E);
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 29%;
}

#massage{
    padding-top: 25px;

}

#gmail{
    font-size: 25px;
}